@charset "UTF-8";

/* reset */
* { margin: 0; padding: 0; } 
ul,li { margin: 0; padding: 0; list-style: none; } 
a { text-decoration: none; } 
/* 가려주기-블라인드 */
.blind { position: absolute; top: 0; left: 0; overflow: hidden; text-indent: -99999999999999px; width: 0; height: 0; font-size: 0; } 

/* 영문폰트연결 - 웹경량화 */
/* font: normal <- 표준, 기본굵기 */
body { font: normal 15px 'RalewayL'; color: #444; } 
@font-face { font-family: 'RalewayL'; src: url(../font/Raleway-Light.ttf); } 
@font-face { font-family: 'RalewayT'; src: url(../font/Raleway-Thin.ttf); } 
@font-face { font-family: 'SpoqaB'; src: url(../font/SpoqaHanSansBold.ttf); } 
@font-face { font-family: 'SpoqaL'; src: url(../font/SpoqaHanSansLight.ttf), url(../font/NanumSquare_acR.ttf), url(../font/SpoqaHanSansLight.woff); } 
@font-face { font-family: 'SpoqaR'; src: url(../font/SpoqaHanSansRegular.ttf), url(../font/SanumSquare_acR.ttf), url(../font/SpoqaHanSansRegular.woff); } 

#wrap { width: 100%; } 
/* ====================================== 
        header 
=======================================*/
#wrap header { width: 100%; height: 70px; position: fixed; z-index: 4; background-color: #fff; border-bottom: 1px solid #e6e6e6;}
#wrap header .header_main { display: flex; width: 1400px; height: 70px; margin: 0 auto; position: relative;
 /* border:1px solid red; */}
#wrap header .header_main h1.logo { margin-top: 23px; font-size: 23px; letter-spacing: 5px; padding-left: 50px; } 

#wrap header .header_main h1.logo span.logoImg { background: url("../images/fv.svg")no-repeat; width: 35px; height: 35px; position: absolute; left: 0; top: 50%; transform: translate(0, -50%); background-size: 35px; } 
/* logo */
h1.logo a { color: #444; } 
h1.logo a span { color: #1ebbd7; } 
h1.logo a span.pf { font-size: 12px; position: relative; top: -2px; } 
h1.logo a span.pf::before { content: ''; display: block; position: absolute; top: 3px; left: -8px; width: 1px; height: 9px; background-color: #444; } 
/* menu */
ul.nav { position: absolute; right: 0; display: flex; width: 550px; justify-content: space-between; /* border:1px solid red; */}

ul.nav li { padding: 26px; color: #444; font-size: 15px; font-weight: bold; cursor: pointer; } 

/* 메뉴 색과 라인색  */
/* ul.nav li.on { color: #8b72e8; } 
ul.nav li.on2 { border-bottom: 3px solid #8b72e8; } 
 */

.header_main>ul>li.active {
       color: #6d9bfc; border-bottom: 3px solid #6d9bfc; 
}

   
/* 프로필 사진 */
section#profile { width: 100%; padding-top: 100px; } 
section#profile .profile_main { width: 1300px; margin: 0 auto; padding: 70px 0; overflow: hidden; display: flex; justify-content: space-between; } 
section#profile .profile_main .p_left { padding-left: 30px; } 
section#profile .profile_main .p_left .img { background: url("../images/me.png")no-repeat; width: 400px; height: 400px; background-size: cover; } 
/* 내 소개 */
section#profile .profile_main .p_right { width: 750px; } 
section#profile .profile_main .p_right dl { padding-top: 70px; padding-left: 50px; } 
section#profile .profile_main .p_right dl dt { font-size: 40px; margin-bottom: 30px; } 
section#profile .profile_main .p_right dl dd span { color: #72b1e8; } 
section#profile .profile_main .p_right dl dt span { /* 글자 안에 그라데이션 주기 */
 background: linear-gradient(to left, #72b1e8, #83b9f3); -webkit-background-clip: text; -webkit-text-fill-color: transparent; } 
section#profile .profile_main .p_right dl dd { margin-top: 50px; font-size: 18px; line-height: 1.7; } 
/* 메인 전체 타이틀 */
section h2 { font-size: 17px; margin: 0 auto; border-bottom: 1px solid gray; width: 90px; padding-bottom: 20px; font-family: 'SpoqaR'; text-align: center;}
section h3 { font-size: 35px; text-align: center; margin-top: 30px; margin-bottom: 30px; letter-spacing: 2px; font-weight: 100; } 
/* skill */
section#skill { width: 100%; padding: 0 0 60px 0; } 
section#skill .skill_main { width: 1400px; /* display: flex; justify-content: space-between; */
 margin: 0 auto; overflow: hidden; padding: 60px 0; } 
section#skill .skill_main .box { width: 225px; height: 280px; position: relative; float: left; margin-top: 100px; margin-left: 50px; } 
/* icons */
section#skill .skill_main .box>i { width: 33px; height: 33px; color: #fff; background-color: #9bb8e8; border-radius: 50%; margin-bottom: 10px; margin-left: 82px; padding: 10px; text-align: center; } 
section#skill .skill_main .box dl dt { font-size: 20px; margin-bottom: 30px; padding-top: 15px; text-align: center; width: 100%; font-weight: bold; } 
section#skill .skill_main .box dl dd { position: relative; font-size: 14px; line-height: 1.7; text-align: left; letter-spacing: -1px; padding-top: 0; padding-left: 77px; } 
.box.about dl dd { text-indent: -9px; } 
.box.contacts dl dd { text-indent: -11px; } 
.box.licenses dl dd { text-indent: -12px; } 
/* 전화, 메일 아이콘 */
.box.contacts dl dd i { position: absolute; top: 0px; font-size: 16px; padding-top: 5px; color: #a7a7a7; margin-right: 5px; } 
.box.contacts dl dd span { position: relative; left: 10px; } 
/* portfolio */
section#portfolio { min-width: 1400px; width: 100%; background: url("../images/pf-bg.png"); background-size: cover; padding-top: 70px;}
section#portfolio .portfolio_main { width: 1400px; margin: 0 auto; padding: 30px 0; } 
/* 5개의 폿폴이미지들 사이즈 일괄로 잡기 */
section#portfolio .portfolio_main dl dt { width: 700px; height: 620px; } 
/* pf-01 */
section#portfolio .portfolio_main dl:nth-child(1) { position: relative; } 
section#portfolio .portfolio_main dl:nth-child(1) dt { background: url("../images/pf1.png")no-repeat 120px 100px; background-size: 85%; } 
section#portfolio .portfolio_main dl:nth-child(1) dd { position: absolute; top: 100px; right: 100px; width: 450px; } 
section#portfolio .portfolio_main dl:nth-child(1) dd h4 { font-size: 15px; margin-bottom: 10px; } 
section#portfolio .portfolio_main dl:nth-child(1) dd h5 { font-size: 50px; margin-bottom: 10px; font-weight: 100; } 
section#portfolio .portfolio_main dl:nth-child(1) dd p { font-size: 15px; line-height: 1.7; } 
section#portfolio .portfolio_main dl:nth-child(1) dd p.site_btn a { display: block; width: 100px; padding: 10px 70px; margin-top: 30px; text-align: center; color: #000; transition: .5s; letter-spacing: 5px; border: 1px solid #444; } 
section#portfolio .portfolio_main dl:nth-child(1) dd p.site_btn a:hover { border: 1px solid #8b72e8; color: #8b72e8; } 
/* pf-02 */
section#portfolio .portfolio_main dl:nth-child(2) { position: relative; } 
section#portfolio .portfolio_main dl:nth-child(2) dt { background: url("../images/pf2.png")no-repeat 0 130px; background-size: 85%; float: right; } 
section#portfolio .portfolio_main dl:nth-child(2) dd { position: absolute; top: 100px; left: 100px; width: 450px; margin: 50px 0 0 50px; text-align: right; } 
section#portfolio .portfolio_main dl:nth-child(2) dd h4 { font-size: 15px; margin-bottom: 10px;}
section#portfolio .portfolio_main dl:nth-child(2) dd h5 { font-size: 50px; margin-bottom: 10px; font-weight: 100; } 
section#portfolio .portfolio_main dl:nth-child(2) dd p { font-size: 15px; line-height: 1.7; } 
section#portfolio .portfolio_main dl:nth-child(2) dd p.site_btn a { display: block; width: 100px; padding: 10px 70px; margin-top: 30px; text-align: center; color: #000; transition: .5s; letter-spacing: 5px; border: 1px solid #444; float: right; } 
section#portfolio .portfolio_main dl:nth-child(2) dd p.site_btn a:hover { border: 1px solid #8b72e8; color: #8b72e8; } 
/* pf-03 */
section#portfolio .portfolio_main dl:nth-child(3) { position: relative; clear: both; } 
section#portfolio .portfolio_main dl:nth-child(3) dt { background: url("../images/pf3.png")no-repeat 120px 80px; background-size: 85%; } 
section#portfolio .portfolio_main dl:nth-child(3) dd { position: absolute; top: 100px; right: 100px; width: 450px; } 
section#portfolio .portfolio_main dl:nth-child(3) dd h4 { font-size: 15px; margin-bottom: 10px; } 
section#portfolio .portfolio_main dl:nth-child(3) dd h5 { font-size: 50px; margin-bottom: 10px; font-weight: 100; } 
section#portfolio .portfolio_main dl:nth-child(3) dd p { font-size: 15px; line-height: 1.7; } 
section#portfolio .portfolio_main dl:nth-child(3) dd p.site_btn a { display: block; width: 100px; padding: 10px 70px; margin-top: 30px; text-align: center; color: #000; transition: .5s; letter-spacing: 5px; border: 1px solid #444; } 
section#portfolio .portfolio_main dl:nth-child(3) dd p.site_btn a:hover { border: 1px solid #8b72e8; color: #8b72e8; } 
/* pf-04 */
section#portfolio .portfolio_main dl:nth-child(4) { position: relative; } 
section#portfolio .portfolio_main dl:nth-child(4) dt { background: url("../images/pf4.png")no-repeat 0 150px; background-size: 85%; float: right; } 
section#portfolio .portfolio_main dl:nth-child(4) dd { position: absolute; top: 120px; left: 100px; width: 450px; margin: 50px 0 0 50px; text-align: right; } 
section#portfolio .portfolio_main dl:nth-child(4) dd h4 { font-size: 15px; margin-bottom: 10px;}
section#portfolio .portfolio_main dl:nth-child(4) dd h5 { font-size: 50px; margin-bottom: 10px; font-weight: 100; } 
section#portfolio .portfolio_main dl:nth-child(4) dd p { font-size: 15px; line-height: 1.7; } 
section#portfolio .portfolio_main dl:nth-child(4) dd p.site_btn a { display: block; width: 100px; padding: 10px 70px; margin-top: 30px; text-align: center; color: #000; transition: .5s; letter-spacing: 5px; border: 1px solid #444; float: right; } 
section#portfolio .portfolio_main dl:nth-child(4) dd p.site_btn a:hover { border: 1px solid #8b72e8; color: #8b72e8; } 
/* pf-05 */
section#portfolio .portfolio_main dl:nth-child(5) { position: relative; clear: both; } 
section#portfolio .portfolio_main dl:nth-child(5) dt { background: url("../images/pf5.png")no-repeat 120px 80px; background-size: 85%; } 
section#portfolio .portfolio_main dl:nth-child(5) dd { position: absolute; top: 100px; right: 100px; width: 450px; } 
section#portfolio .portfolio_main dl:nth-child(5) dd h4 { font-size: 15px; margin-bottom: 10px; } 
section#portfolio .portfolio_main dl:nth-child(5) dd h5 { font-size: 50px; margin-bottom: 10px; font-weight: 100; } 
section#portfolio .portfolio_main dl:nth-child(5) dd p { font-size: 15px; line-height: 1.7; } 
section#portfolio .portfolio_main dl:nth-child(5) dd p.site_btn a { display: block; width: 100px; padding: 10px 70px; margin-top: 30px; text-align: center; color: #000; transition: .5s; letter-spacing: 5px; border: 1px solid #444; } 
section#portfolio .portfolio_main dl:nth-child(5) dd p.site_btn a:hover { border: 1px solid #8b72e8; color: #8b72e8; } 
/* ====================================== 
        etc - 기타디자인 
=======================================*/
section#etc { min-width: 1400px; width: 100%; background-color: #f9f9f9; padding: 100px 0; } 
section#etc .etc_main { width: 1400px; height: 400px; margin: 0 auto; padding-top: 60px; display: flex; justify-content: space-between; } 
section#etc .etc_main dl { width: 19.2%; position: relative; cursor: pointer; } 
section#etc .etc_main dl dt { position: relative; width: 270px; height: 270px; } 
section#etc .etc_main dl dt p { width: 100%; height: 100%;}
section#etc .etc_main dl dt p::before { content: ''; background: rgba(28, 28, 28); opacity: 0.6; position: absolute; z-index: 5; top: 0; left: 0; width: 0; height: 100%; transition: .5s; } 
section#etc .etc_main dl:hover dt p:before { width: 100%; } 
/* 자세히보기버튼 */
section#etc .etc_main dl dt p strong { position: absolute; z-index: 5; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 5px 10px; border-radius: 50px; opacity: 0; color: #fff; border: 2px solid #fff; transition: .6s; } 
section#etc .etc_main dl:hover dt p strong { opacity: 1; /* 투명도 100% */}
/* ====================================== 
       썸네일이미지
=======================================*/
/* thum-01 */
section#etc .etc_main dl.etc_1 dt p i { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url("../images/popup/thum1.png")no-repeat center; background-size: 100%; } 
/* thum-02 */
section#etc .etc_main dl.etc_2 dt p i { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url("../images/popup/thum2.png")no-repeat center; background-size: 100%; } 
/* thum-03 */
section#etc .etc_main dl.etc_3 dt p i { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url("../images/popup/thum3.png")no-repeat center; background-size: 100%; } 
/* thum-04 */
section#etc .etc_main dl.etc_4 dt p i { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url("../images/popup/thum4.png")no-repeat center; background-size: 100%; } 
/* thum-05 */
section#etc .etc_main dl.etc_5 dt p i { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url("../images/popup/thum5.png")no-repeat center; background-size: 100%; } 
/* 썸네일 설명 */
.etc_main dl dd { padding: 20px 0; font-size: 14px; line-height: 1.7; text-align: right; } 
.etc_main dl dd span { font-weight: normal; display: block; } 
/* 하단화살표 */
.btn_top { position: fixed; right: 2%; bottom: 7%; width: 50px; height: 50px; cursor: pointer; display: none; /* 가려줌 */}
/* ====================================== 
       footer 
=======================================*/
#wrap footer { width: 100%; height: 75px;} 
#wrap footer .footer_main { width: 1400px; margin: 0 auto; } 
#wrap footer .footer_main ul.sns { display: flex; margin-top: 20px; } 
#wrap footer .footer_main ul.sns li { margin-right: 10px; } 
#wrap footer .footer_main ul.sns li a {color: #666;} 
#wrap footer .footer_main ul.sns li a i { font-size: 25px; margin-left: -6px; } 
#wrap footer .copyright p { margin-top: 10px; } 
/* ====================================== 
       popup all 
=======================================*/
#wrap #popup { width: 100%; } 
#wrap #popup .popup_main { width: 100%; } 
#wrap #popup .popup_main .bg { position: fixed; z-index: 5; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.7); 
       display: none;
}
#wrap #popup .popup_main .bg p.close { position: fixed; bottom: 5%; left: 50%; transform: translate(-50%, 0); color: #ebe9e9; font-size: 13px; font-weight: 100; z-index: 6; } 
/* popup 1 */
.popup1 { position: fixed; z-index:8; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 800px; height: 600px; overflow: hidden;
display: none;
} 
.popup1 button { outline: 0; border: 0; width: 100px; height: 100px; font-size: 70px; font-weight: 100; padding-bottom: 10px; background-color: rgba(0, 0, 0, 0.2); color: #fff; cursor: pointer; font-family: 'RalewaT'; } 
.popup1 button.prev { position: absolute; top: 40%; left: 0; z-index: 7; } 
.popup1 button.next { position: absolute; top: 40%; right: 0; z-index: 7; } 
.popup1 ul.popList { display: flex; width: 2400px; height: 800px; } 
.popup1 ul.popList li.popImg img { width: 800px; height: 600px; } 
/* popup 2 */
.popup2 { position: fixed; z-index:8; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 800px; height: 600px; overflow: hidden; display: none;} 
.popup2 button { outline: 0; border: 0; width: 100px; height: 100px; font-size: 70px; font-weight: 100; padding-bottom: 10px; background-color: rgba(0, 0, 0, 0.2); color: #fff; cursor: pointer; font-family: 'RalewaT'; } 
.popup2 button.prev { position: absolute; top: 40%; left: 0; z-index: 7; } 
.popup2 button.next { position: absolute; top: 40%; right: 0; z-index: 7; } 
.popup2 ul.popList { display: flex; width: 2400px; height: 800px; } 
.popup2 ul.popList li.popImg img { width: 800px; height: 600px; } 
/* popup 3 */
.popup3 { position: fixed; z-index:8; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 800px; height: 600px; overflow: hidden;display: none; } 
.popup3 button { outline: 0; border: 0; width: 100px; height: 100px; font-size: 70px; font-weight: 100; padding-bottom: 10px; background-color: rgba(0, 0, 0, 0.2); color: #fff; cursor: pointer; font-family: 'RalewaT'; } 
.popup3 button.prev { position: absolute; top: 40%; left: 0; z-index: 7; } 
.popup3 button.next { position: absolute; top: 40%; right: 0; z-index: 7; } 
.popup3 ul.popList { display: flex; width: 2400px; height: 800px; } 
.popup3 ul.popList li.popImg img { width: 800px; height: 600px; } 
/* popup 4 */
.popup4 { position: fixed; z-index:8; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 800px; height: 600px; overflow: hidden;display: none; } 
.popup4 button { outline: 0; border: 0; width: 100px; height: 100px; font-size: 70px; font-weight: 100; padding-bottom: 10px; background-color: rgba(0, 0, 0, 0.2); color: #fff; cursor: pointer; font-family: 'RalewaT'; } 
.popup4 button.prev { position: absolute; top: 40%; left: 0; z-index: 7; } 
.popup4 button.next { position: absolute; top: 40%; right: 0; z-index: 7; } 
.popup4 ul.popList { display: flex; width: 2400px; height: 800px; } 
.popup4 ul.popList li.popImg img { width: 800px; height: 600px; } 
/* popup 5 */
.popup5 { position: fixed; z-index:8; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 800px; height: 600px; overflow: hidden; display: none;} 
.popup5 button { outline: 0; border: 0; width: 100px; height: 100px; font-size: 70px; font-weight: 100; padding-bottom: 10px; background-color: rgba(0, 0, 0, 0.2); color: #fff; cursor: pointer; font-family: 'RalewaT'; } 
.popup5 button.prev { position: absolute; top: 40%; left: 0; z-index: 7; } 
.popup5 button.next { position: absolute; top: 40%; right: 0; z-index: 7; } 
.popup5 ul.popList { display: flex; width: 2400px; height: 800px; } 
.popup5 ul.popList li.popImg img { width: 800px; height: 600px; } 